<!--
<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="Console" fileName="/var/log/SmartTrackApplication.log"
                     filePattern="/var/log/smartTrackApplication-%i.log.gz"  >
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy  max="6"/>
        </RollingFile>
        &lt;!&ndash;<RollingFile name="infoFileAppender" fileName="/var/log/NMApplicationInfo.log"
                     filePattern="/var/log/nmApplicationInfo-%i.log.gz"  >
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy  max="6"/>
        </RollingFile>&ndash;&gt;
        <RollingFile name="errorFileAppender" fileName="/var/log/SmartTrackApplicationErrors.log"
                     filePattern="/var/log/smartTrackApplicationError-%i.log.gz" append="true" >
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy compressionLevel="0" max="6"/>
        </RollingFile>
    </Appenders>cls

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"  />
            &lt;!&ndash;//<AppenderRef ref="infoFileAppender" level="INFO"/>&ndash;&gt;
            <AppenderRef ref="errorFileAppender" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>-->
